
.mat-button.mat-success,
.mat-stroked-button.mat-success {
    color: #0dc939;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success
 {
  color: #f0fff3;
  background-color: #0dc939;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }